---
---

@import "{{ site.theme }}";
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 16px;
    }
h1 {
  font-size:200% /*28px*/;
}
small, kbd,
.downloads a {
  font-size:79% /*11px*/;
}     
.downloads a strong {
  font-size:14px /*14px*/;
}    
div.wrapper {
    width:1024px;
    margin:0 auto;
    }
header, section, footer {
    float:none;
    position:static;
    width:auto;
    }
header {
    padding-right:320px;
    }
section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
    }
header a small {
    display:inline;
    }
header ul {
    position:absolute;
    right:50px;
    top:52px;
    }
